{% extends 'layouts/main.html.twig' %}

{% block title %}Change Password &mdash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Change Password</h1>
    </div>
{% endblock %}
