{% extends 'layouts/main.html.twig' %}

{% block title %}Main Settings &mdash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Main Settings</h1>
    </div>
{% endblock %}
