{% extends 'layouts/main.html.twig' %}

{% block title %}Create a New Post &mdash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create a New Post</h1>
    </div>
{% endblock %}
