{% extends 'base.html.twig' %}

{% block title %}Recent Posts &mdash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Recent Posts</h1>
    </div>
{% endblock %}
