{% extends 'layouts/main.html.twig' %}

{% block title %}New Posts &mdash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>New Posts</h1>
    </div>
{% endblock %}
