{% extends 'layouts/main.html.twig' %}

{% block title %}Create a New Account &mdash; {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">

            <h1>Create a New Account</h1>
            <p class="lead">Enter some data and submit this form in order ot complete the registration process:</p>

            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form, {
                attr: {novalidate: 'novalidate'}
            }) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
